body {
  background-color: black;
}

.container {
  background-color: black;
  color: white;
  padding: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-group {
  flex-basis: calc(50% - 5px);
  display: flex;
  justify-content: space-around;
  padding: 0 5px;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: black;
  border: 1px solid white;
  color: white;
  margin: 0;
}

button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  margin-top: 10px;
  width: 650px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid white;
}

table th:last-child,
table td:last-child {
  text-align: center;
}

table button {
  background-color: white;
  color: black;
  border: none;
  padding: 5px 10px;
  cursor
